<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration from</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.css"></link>
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
</head>
<body>
<div class="container">

    <form class="well form-horizontal" th:action="@{/registration}" action="#" th:object="${user}" method="post"  id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend><center><h2><b>Registration Form</b></h2></center></legend><br></br>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></label>
                        <input  name="firstName" th:field="*{firstName}" placeholder="First Name" class="form-control"  type="text"></input>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" >Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></label>
                        <input name="lastName" th:field="*{lastName}" placeholder="Last Name" class="form-control"  type="text"></input>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></label>
                        <input  name="username" th:field="*{username}" placeholder="Username" class="form-control"  type="text"></input>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" >Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></label>
                        <input name="password" th:field="*{password}" placeholder="Password" class="form-control"  type="password"></input>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" >Confirm Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="confirmPassword" placeholder="Confirm Password" class="form-control"  type="password"></input>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></label>
                        <input name="email" th:field="*{email}" placeholder="E-Mail Address" class="form-control"  type="text"></input>
                    </div>
                </div>
            </div>

<!--
            &lt;!&ndash; Success message &ndash;&gt;
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>
-->

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br></br>
                    <button type="submit" class="btn btn-warning" >SUBMIT<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

            <span th:utext="${successMessage}"></span>

        </fieldset>
    </form>
</div>
</body>
</html>